@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Bebas Neue', sans-serif;
font-family: 'Bellefair', serif;
}
.font-bellarfair{
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'Bellefair', serif;

}
.main{
  width: 100%;
  height: 100vh;
  background-size: cover;
  overflow: hidden;

}
/* .main-home{
  background-image: url(../../../assets/home/background-home-desktop.jpg);
} */
.navbar{
  background-color: rgba(255, 255, 255, .1);
  position: relative;
}
.navbar::before {
  height: 1px;
  position: absolute;
  left: -75%;
  content: "";
  background: #fff;
  top: 50%;
  width: 80%;
  background-color: rgba(255, 255, 255, .4);

}
.navbar a{
  position: relative;
}
.navbar a:hover::after{
  position: absolute;
  width: 0;
  height: 2px;
  content: "";
  background-color: #fff;
  bottom: -10px;
  left: 0;
  animation: full-width .5s ease-in-out 1 forwards;
}
.explore-animate{
  animation: pulse-grow 2s ease-in-out infinite forwards;
}
@keyframes full-width {
  from{
    width: 0;
  }
  to{
    width: 100%;
  }
}

@keyframes pulse-grow {
  0%{
    box-shadow: 0px 0px 0 5px rgba(255, 255, 255, .4);

  }
  33%{
    box-shadow: 0px 0px 0 15px rgba(255, 255, 255, .4);

  }
  66%{
    box-shadow: 0px 0px 0 20px rgba(255, 255, 255, .4);

  }
  100%{
    box-shadow: 0px 0px 0 25px rgba(255, 255, 255, .4);
  }
}
/* Destination page */
/* .main-destination{
  background-image: url(../../../assets/destination/background-destination-desktop.jpg);
} */
.main-destination .slick-prev {
  left: 40px !important;
}
.main-destination .slick-next {
  right: 40px !important;
}
.main-destination .slick-next:before, .slick-prev:before {
  font-size: 50px !important;
}
.main-destination .slick-slider img{
animation: planet-rotate 10s ease-in-out infinite forwards;
}
@keyframes planet-rotate {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

/* crew page */
/* .main-crew{
  background-image: url(../../../assets/crew/background-crew-desktop.jpg);
} */
.main-crew .slick-prev, .main-crew .slick-next{
  display: none !important;
}
.main-crew .slick-dots {
  bottom: 141px;
  padding-left: 10rem;
  text-align: left;
}
.main-crew .slick-dots li button:before, .main-crew .slick-dots li.slick-active button:before{
color:#fff;
font-size: 12px;
}

/* technology page */

/* .main-technology{
  background-image: url(../../../assets/technology/background-technology-desktop.jpg);
} */
.main-technology .slick-prev, .main-technology .slick-next{
  display: none !important;
}
.main-technology .slick-dots {
  bottom: 30%;
  padding-left: 9rem;
  display: flex !important;
  flex-direction: column;
  list-style-type:decimal;
  gap: 20px;
}
.main-technology .slick-dots li{

  width: 50px;
  height: 50px;
}
.main-technology .slick-dots li button{
  width: 50px;
  height: 50px;
  color:#ffffff;
  font-size: 25px;
}
.main-technology .slick-dots li button:before{
  color:transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  /* font-size: 50px; */
  width: 50px;
  height: 50px;
}
.main-technology .slick-dots li.slick-active button{
    border-radius: 50%;
    color:#000000;
    background-color: #fff;
    border: none;
  }
  .main-technology .slick-dots li.slick-active button:before{
    opacity: 1;
    color:transparent;
  }

  /* mobile query */
  @media (max-width:767px) {
    .main{
      height: 100%;
  background-size: cover;

    }
    .navbar::before {
      content: "";
      position: unset;
    }
    .main-crew .slick-dots {
      bottom: 10px;
    }
    .main-technology .slick-dots {
      flex-direction: row;
      bottom: 40px;
      padding: 0;
      justify-content: center;
    }
  }
